*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Roboto', 'sans-serif;
    background-color: #b4d3d8;
    background: url(./images/R.jpg) no-repeat center center / fixed;

}
#container{
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
}

.form-wrap h1{
    color: #6b0b0b;
}
.form-wrap{
    border-top: 1px solid;
    padding: 15px 25px;
    background: #0b6b6b;

}
.form-wrap h1, .
.form-wrap p{
    text-align: center;
}

.form-wrap .form-group{
margin-top: 15px;
}

.form-wrap .form-group label{
    display: block;
    color: #6b0b0b;
}

.form-wrap .form-group input{
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    color: red;
}
.form-wrap button{
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background: #6b0b0b;
    cursor: pointer;
    color: white;
    margin-top: 20px;
}
.form-wrap button:hover{
    background-color: #2b0202;
}
.form-wrap .bottom-text{
    text-align: justify;
    font-size: 15px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-wrap .bottom-text a{
    text-decoration: none;
    color: #6b0b0b;
}

.form-wrap .bottom-text a:hover{
    color: #2b0202;
}

footer{
    text-align: center;
    font-style: italic;
    font-size: 15px;
    margin-top: 10px;
}

footer a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #6b0b0b;

}
footer a:hover{
    color: #0b6b6b;
}

